.card-dashboard{
    width: 100%;
    height: 210px;
    background: white;
    cursor: pointer;
    animation-name: example;
    animation-duration: 0.3s;
    transition: all 300ms;
    position: relative;
    opacity: 1;
}
.card-dashboard:hover{
    background: #2b3e68;
    color: white;
    transform: scale(1.1);
}
@keyframes example {
    from {
      /* top: 500px; */
      /* opacity: 0.5; */
      /* opacity: 0;
      width: 0; */
      right: -1000px;
    }
    to {
      right: 0;
      
    }
}


.icon-card{
    width:40%;
    height:100%;
    background: #2b3e68;
    padding: 50px 20px;
    text-align: center;
    vertical-align: middle;
    float: left;
}
.content-card-dash{
    width:60%;
    padding: 20px;
    float: right;
    /* position: absolute; */
    /* background-color: red; */
}
.chip-label{
    width: 30px;
    height: 5px;
    border-radius: 5px;
}
.color-warn{
  color: white;
  background-color: #f44336;
}
.color-success{
  color: white;
  background-color: #05af70;
}

@media only screen and (max-width: 600px) {
    .card-dashboard:hover{
        /* background: #2b3e68; */
        background: white;
        
        color: black;
        transform: none;
    }
    .card-dashboard:focus {
        background: #2b3e68;
    }
}

.td-menu-mobile{
    width: 70px;
    height: 80px;
}
.button-menu-mobile{
    position: relative;
    width: 40vw;
    height: 40vw;
    border-radius: 5px 20px 5px;
    border: 1px solid green;
    padding: 16vw 2vw 16vw;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    color: green;
}
.button-menu-mobile > span{
    position: relative;
    top: -7px;
    text-decoration: none;
}
.title-baner{
    color: white;
    position: absolute;
    top: 51px;
    font-weight: lighter;
    left: 26px;
    font-size: 25px;
}