<button mat-icon-button class="button-edit-menu" [routerLink]="['/users/edit']" [queryParams]="{id:user.id}">
    <mat-icon>edit</mat-icon>
</button>
<div class="row row-mobile">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mx-auto">
        <mat-card class="card-mobile">
            <mat-card-content>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                        <img src="{{user.foto}}" alt="foto" *ngIf="user.foto" class="user-image-table">
                        <img src="/assets/img/no-image-user.svg" alt="foto" *ngIf="!user.foto" class="user-image-table">
                        <mat-card-title class="text-capitalize text-center">
                            {{user.nombre_completo}}
                        </mat-card-title>
                        <mat-card-subtitle class="text-capitalize text-center">
                            {{userData.type == 1?'Administrador':'Mecanico'}}
                        </mat-card-subtitle>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-icon>mail</mat-icon>
                                <h1 matLine> {{user.email}}</h1>
                                <p matLine>
                                    <span>Email</span>
                                </p>
                            </mat-list-item>
                            <mat-list-item>
                                <button class="full-width" mat-button [routerLink]="['/users/change-password']" color="accent">
                                    <mat-icon>lock</mat-icon>
                                    Cambiar password
                                </button>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>

            </mat-card-content>
            <mat-card-actions class="text-right">
                <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
                    <button mat-button (click)="goBack()">
                        <mat-icon>clear</mat-icon>
                        Cerrar
                    </button>
                    <button mat-flat-button [routerLink]="[ '/users/edit']" [queryParams]="{id:user.id}">
                        <mat-icon>edit</mat-icon>
                        Modificar
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>