

<form [formGroup]="formLogin" (ngSubmit)="login()" novalidate>
  <mat-card class="mt-5" class="card-mobile">
    <mat-card-content class="pt-3">
      <div class="title-login text-center pb-2">
        <!-- <h3 class="text-uppercase">Valle motor's</h3> -->
        <img src="/assets/img/color_logo.png" alt="" width="100%" height="auto">
      </div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Email" autocomplete="off">
        <mat-icon matSuffix>perm_identity</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input type="password" #password matInput formControlName="password" placeholder="Contraseña" autocomplete="off">
        <mat-icon matSuffix 
          (click)="showPassword(password)" 
          class="sufix-icon"
          [title]="password.type == 'password'?'Mostrar':'Ocultar'">
          {{passwordIcon}}
        </mat-icon>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="pb-5">
      <div class="text-right">
        
        <button type="submit" mat-flat-button class="full-width p-2" color="primary"
          [disabled]="submitted">
          <mat-icon>input</mat-icon>
          Ingresar
        </button>
      </div>
      <div class="text-center mt-3">
        <a [routerLink]="['/login/forgot-password']" class="forgot-password">¿ Olvidaste tu contraseña ?</a>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
