<mat-card>
  <mat-card-header>
    <mat-card-title>
      <button *ngIf="!showSearch" mat-button (click)="showSearch? showSearch = false:showSearch = true">
        <mat-icon inactive class="md-inactive">search</mat-icon>
        Buscar
      </button>
    </mat-card-title>
    <div class="full-width text-right">
      <a mat-mini-fab color="primary" matTooltip="Nuevo" aria-label="Nuevo" [routerLink]="['/users/create']">
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="showSearch" [formGroup]="formSearch" (ngSubmit)="getUsuarios(true)" novalidate="">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8 text-right">
          <button mat-icon-button *ngIf="showSearch" (click)="showSearch? showSearch = false:showSearch = true">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="nombre_completo" placeholder="Nombre" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Email" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
          <div class="text-right">
            <button mat-flat-button type="submit" #submitBtn class="ml-3" [disabled]="submitted">
              <mat-icon>search</mat-icon>
              Buscar
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="row d-block d-sm-block d-md-none d-lg-none d-xl-none">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mat-list>
          <mat-list-item *ngFor="let element of usuarios; last as last" class="mb-3">
            <table class="full-width mb-3">
              <tbody>
                <tr>
                  <td class="text-left" style="width: 22%;">
                    <img mat-card-avatar src="{{element.foto}}" alt="foto" *ngIf="element.foto" class="foto-image-table-mobile">
                    <img mat-card-avatar src="/assets/img/no-image-user.svg" alt="foto" *ngIf="!element.foto"
                      class="foto-image-table-mobile">
                  </td>
                  <td>
                    <strong> {{element.nombre_completo}} </strong> <br>
                    <small>
                      Email:
                    </small>
                    <small> {{element.email}} </small>
                    <br>
                  </td>
                  <td width="10">
                    <button mat-icon-button [routerLink]="['/users/show']" [queryParams]="{id:element.id}">
                      <mat-icon>chevron_right</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <mat-divider [inset]="false" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <div class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block">
      <table mat-table [dataSource]="usuarios" class="full-width table-hover">
  
        <ng-container matColumnDef="nombre_completo">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_completo}} </td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
  
        <ng-container matColumnDef="foto">
          <th mat-header-cell *matHeaderCellDef> Foto </th>
          <td mat-cell *matCellDef="let element" class="p-2">
            &nbsp;
            <img src="{{element.foto}}" alt="foto" *ngIf="element.foto" class="user-image-table">
            <img src="/assets/img/no-image-user.svg" alt="foto" *ngIf="!element.foto" class="user-image-table">
            &nbsp;
          </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-stroked-button  [routerLink]="['/users/show']" 
              [queryParams]="{id:element.id}"
              matTooltip="Ver"
              aria-label="Ver"
              color="primary">
              <mat-icon>input</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <mat-paginator [pageIndex]="userService.page.pageIndex" [length]="userService.page.length" [pageSize]="userService.page.size" 
      [pageSizeOptions]="userService.page.sizeOptions"
      (page)="pagination($event)">
    </mat-paginator>
  </mat-card-actions>
</mat-card>
