/* You can add global styles to this file, and also import other style files */

@import '~material-design-icons/iconfont/material-icons.css';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/bootstrap-grid';

html, body { 
  height: 100%; 
  background: #f5f5f5;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// @media only screen and (max-width: 600px) {

// }

// color primary aplication #6e78f7 para el toolbar
// color primary aplication #3a58fc para botones 

.full-width{
    width: 100%;
}
.without-color{
    background: none;
}

// mat-progress-bar {
.loading {
  position: fixed;
  z-index: 3000;
  height: 5px;
  width: 100%;
}
.show-loading{
  // visibility: visible;
  display: block;
}
.hide-loading{
  display: none;
  // visibility: hidden;
}


.foto-image-table {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: #000000 0px 0px 1px 0px;
}
.foto-image-table-mobile {
  width: 100%;
  height: auto;
  // border-radius: 50%;
  // box-shadow: #000000 0px 0px 1px 0px;
}

.bakground-grey{
  background-color: rgb(228, 228, 228);
}

$sizeImageDesktop:14vw;
$sizeImageMobile:70vw;

.foto-image {
  width: $sizeImageDesktop;
  height: $sizeImageDesktop;
  border-radius: 50%;
  box-shadow: #000000 0px 0px 1px 0px;
}
// @media only screen and (max-width: 600px) {
  
// }

.foto-image-edit {
  width: $sizeImageDesktop;
  height: $sizeImageDesktop;
}
// @media only screen and (max-width: 600px) {
  
// }

.active-menu{
  background-color: #f5f5f5;
}

.hidde-only-xs {
  display: block;
}
// @media only screen and (max-width: 600px) {
  
// }

.v-only-xs {
  display: none;
}


.fix-nav-bottom{
    display: none;
  }

@media only screen and (max-width: 600px) {
  body {
    // background: #f1eeee;
    // background: #2b3e68;
    // background: #f5f5f5;
    background: #fafafa;
    // background: #f5f5f5;
    // background: #ffffff;
    // background-color: #f5f5f5;
        

  }

  .foto-image {
    width: $sizeImageMobile;
    height: $sizeImageMobile;
    border-radius: 50%;
    box-shadow: #000000 0px 0px 1px 0px;
  }


  .foto-image-edit {
    margin: 0 auto;
    width: $sizeImageMobile;
    height: $sizeImageMobile;
  }

  .hidde-only-xs {
      display: none;
  }
  .v-only-xs {
      display: block;
  }

  /* para mostrar en mobile los cards contenedores */
  // .row-mobile > div.row{
  //   margin-left: 0 !important;
  //   margin-right: 0 !important;
  // }
  // .row-mobile > .row > mat-card{
  // // .card-content-mobile{
  //   background: #fafafa !important;
  //   box-shadow: none !important;
  // }
  .row-mobile{
    margin-left: 0 !important;
    margin-right: 0 !important;
    .mx-auto{
      padding-left: 0;
      padding-right: 0;
    }
  }
  .card-mobile{
    background: #fafafa !important;
    box-shadow: none !important;
    padding: 0;
  }

  // .toolbar-fixed{
  .fix-nav{
    // position: fixed;
    // z-index: 2000;
    display: none;
  }
  .fix-nav-bottom{
    position: fixed;
    z-index: 2000;
    bottom: 0;
  }
  .content{
    margin-top: 3.5rem;
    // margin-bottom: 3.5rem;
    // margin-bottom: 4rem !important;
    // padding-bottom: 2rem !important;
  }
  // .layout-container{
  //   // margin-top: 3.5rem;
  //   // margin-bottom: 3.5rem;
  //   margin-bottom: 3.5rem !important;
  //   // padding-bottom: 2rem !important;
  // }
  .button-edit-menu{
    display: block  !important;
    position: fixed !important;
    top: 8px;
    right: 10px;
    color: white;
    z-index: 100;
    visibility: visible !important;
  }
}


.loading-bar{
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
}

.button-edit-menu{
  visibility: hidden;
  // display: none !important;
  // top: -80px;
}